  .profile {
    background: #e9ecef;
    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 39px -9px #000000;
    margin-bottom : 30px;
        
    .profile-pic{
      background: #ebe5d9;
      width : 200px;
      height: 200px;
      min-width: 200px;
      border-radius: 50%;
      margin-top : 20px;
      margin-bottom: 20px;
      @include material-shadow(5);
      img{
        border-radius: 50%;
        width : 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  
    .user-detail{
      background: #ebe5d9;
      border-radius: 3%;
      @include material-shadow(2);
      width : 500px;
      height: 170px;
      margin-left: 10%;
      padding : 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      .show-follow{
        font-size : 2rem;
        cursor: pointer;
      }
    }     

    @include media("<medium"){
      flex-direction: column;
      justify-content: space-around;
      
      .profile-pic{
        background: $oc-gray-5;
        width : 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;
        border-radius: 50%;
        margin-bottom : 10px;        
      }
      .user-detail{
        margin-left : 0;
        width : 100%;
      }
    }
  }