@media screen and (max-width: 700px) {
  .profile {
    background: gray;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
  }

  .profile-pic{
    background: blue;
    width : 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: 3%;
    /* position: absolute; */

    
  }

  .user-detail{
    background: blue;
    width : 60%;
    height: 200px;
    margin-left : 10%;
  }

}

@media screen and (min-width:701px) {
  .profile {
    background: gray;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-pic{
    background: blue;
    width : 200px;
    height: 200px;
    border-radius: 50%;
  }

  .user-detail{
    background: blue;
    width : 500px;
    height: 200px;
    margin-left : 10%;
  }


}
