.each-feed {
  margin-top: 20px;
  margin-bottom: 100px;
  @include media("<medium") {
    margin-left: 0;
    margin-right: 0;
    margin-top : -20px;
  }

  .top {
    font-size: 1.5rem;
    padding-left: 15px;
    display: flex;
    background: white;
    box-sizing: initial;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 20px 20px 0 0;
    justify-content: space-between;
    align-items: center;
    width: 690px;

    @include media("<large") {
      width: 100%;
      font-size: 1.25rem;
      @include media("<small"){
        font-size : 1rem;
      }
    }

    .left {
      min-width: 115px;
      width: 350px;
      display: flex;
      align-items: center;
      .profile-pic {
        background: $oc-gray-3;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 10px;
        @include media("<large") {
          width: 50px;
          height: 50px;
        }
        

        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .right {
      width: 200px;
      margin-right: 15px;      
    }
  }

  .img-area {
    .onimg {
      cursor: pointer;
    }
    width: 750px;
    height: auto;
    @include media("<large") {
      width: 100%;
    }

    img {
      width: 100%;
      object-fit: contain;
      margin-bottom: -5px;
    }

    .bottom {
      background: white;
      border-radius: 0 0 20px 20px;

      .comment-area {
        font-size: 1.5rem;
        display: flex;
        width: 20px;
        justify-content: center;
        .cCount {
          display: flex;
        }
      }
      .test {
        font-size: 1.5rem;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        border-top: 2px solid $oc-gray-5;

        @include media("<medium") {
          width: 100%;
          font-size: 1.25rem;
        }
      }
    }
  }
}

// .content-area {
//   font-size: 1.5rem;
//   margin-bottom: 5px;
//   padding-left: 5px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 700px;
//   margin-bottom: 20px;

//   @include media("<medium") {
//     width: 100%;
//     font-size: 1.25rem;
//   }
// }
