.each-feed {
  margin: 30px;
  @include media("<medium") {
    margin-left: 0;
    margin-right: 0;
  }

  .top {
    font-size: 1.5rem;
    margin-bottom: 5px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    @include media("<medium") {
      width: 100%;
      font-size: 1.25rem;
    }

    .left {
      min-width: 115px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .profile-pic {
        background: $oc-blue-3;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }

  .img-area {
    cursor: pointer;
    width: 750px;
    height: auto;
    border-radius: 5%;
    
    @include media("<medium") {
      width: 100%;
    }

    img {
      width: 100%;
      object-fit: contain;
      border-radius: 5%;
      box-shadow: 5px 5px 39px -9px #000000;
    }

    .content-area {
      font-size: 1.5rem;
      margin-bottom: 5px;
      padding-left: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 700px;      
      margin-bottom: 20px;
      
      @include media("<medium") {
        width: 100%;
        font-size: 1.25rem;
      }
    }
  }
}
