.writing-form {
  background: white;
  height: 800px;
  display : flex;
  flex-direction: column;
  width : 50%;
  margin-top : 5vh;
  @include media("<large"){
    height: auto;
    margin-top : 0;
    width : 100%;
  }
  .title {
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom: 1px solid black;
    width: 310px;
    font-weight: 1000;
  }
  .text {
    width: 80%;
    height: 200px;
    overflow: auto;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 10px;
    border: 1px solid $oc-gray-6;
    padding: 20px;
    @include material-shadow(1);

    &:focus {
      outline: none;
      border: 1.2px solid $oc-gray-9;
      @include material-shadow(3);
    }
  }

  .file-wrapper {
    @include material-shadow(3);
    transition: 0.3s;
    padding: 10px;
    background: $oc-blue-6;
    cursor: pointer;
    font-size: 1.6rem;
    color: #fff;
    min-width: 250px;
    width : 80%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
    margin-bottom: 20px;
    &:hover {
      background-color: $oc-blue-8;
    }
    .file-upload {
      display: none;
    }
  }

  .submit {
    background-color: $oc-gray-6;
    border-radius: 5%;
    border: none;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 10px 10px;
    margin-top: 20px;
    width: 300px;
    cursor: pointer;
    transition: 0.3s;
    @include material-shadow(3);
    margin-bottom: 20px;
    &:hover {
      background-color: $oc-gray-7;
    }
  }

  .word-count {
    font-size: 1rem;
  }
}


::placeholder{
  text-align: center;
}