.header{
  background : #343a40; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  height : 80px;
  width : 100%;
  color : white;
  font-weight: 600;
  font-size : 2rem;
  box-shadow: 5px 5px 39px -9px #000000;

  @include media("<small"){
    font-size: 1.7rem;
  }

  .right-part{
    width : 180px;  
    display: flex;
    align-items : center;
    justify-content: space-around;
    
    @include media("<small"){
      width : 160px; 
      justify-content: space-between;
    }
  } 
}