.header {
  background: #343a40;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  box-shadow: 5px 5px 39px -9px #000000;

  @include media("<ultrasmall") {
    font-size: 1.4rem;
  }

  .search-container {
    @include media("<medium") {
      display: none;
    }
  }
  .search {
    height: 40px;
    width: 300px;
    border: white;
    border-radius: 3%;
    margin: 10px;
    background: $oc-gray-7;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;

    @include media("<medium") {
      width: 200px;
    }

    &:focus {
      outline: none;
      transition: 0.3s;
      background: $oc-gray-6;
    }
  }


  .right-part {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include media("<ultrasmall") {
      width: 100px;
      justify-content: space-between;
    }


    .button-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      .dot{
        width : 10px;
        height: 10px;
        background: red;
        position : absolute;
        border-radius: 50%; 
        margin-top :24px;
        margin-left :20px;
        @include media("<small"){
          margin-top :10px;
          margin-left :10px;
        }
      }
      .imgs {
        width: 50px;
        height: 50px;
        padding: 5px;
        height: auto;
        transition: 0.3s;
        border-radius: 10px;
        &:hover {
          background: $oc-gray-6;
        }
        @include media("<small"){
          width : 40px;
          height: 40px;
        }
        @include media("<ultrasmall"){
          width : 25px;
          height: 25px;
        }
      }

      @include media("<ultrasmall"){
        height: 30px;
        width : 30px;
      }
    }

    // .mobile-search-icon{
    //   display: none;
    //   margin-top : 10px;
    //   margin-left : 10px;
    //   @include media("<medium"){
    //     display: initial;
    //   }
    // }
  }
}
