.edit {
  .writing-form {
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 20vh;
    @include media("<large") {  
      height: auto;
      margin : 0;
    }
  }
  @include media("<large") {
    background: white;
  }
  .file-wrapper {
    margin-top : 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
