.each-comment{
  font-size : 1.4rem;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  .nick-area{
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
  }
  .mention{
    color : $oc-indigo-4;
    cursor: pointer;
    font-weight: 600;
    &:hover {
      color : $oc-indigo-6;
    } 
  }
}