$userlist  : #E7DFE0;
$hashlist :#DBB2AF;

.search-list {  
  border : white;
  text-align: center;
  width : 100%;
  display: flex;
  justify-content: center;
  position : relative;    

  .list{
    position: absolute;
    margin-left : 5px;
    margin-top : -18px;
    width : 300px;
    height: 200px;
    text-align: center;    
    background: white;
    border : none;
    @include media("<medium"){
      width : 200px;
      
    }
    
    @include material-shadow(5);
    
    .user-list{
      background: $userlist;
      border : none;
      height: 100px;
      width : 100%;
    }

    .hash-list{
      border : white;
      background: $hashlist;
      height: 100px;
      width : 100%;

    }

    .user-result{
      border : white;
      width : 100%;
      cursor: pointer;
      height: 33.3px;
      background: #E7DFE0;            
      font-size : 1.25rem;
      font-weight: 700;
      
      &:hover{
        background: $oc-gray-5;
      }
    }
    .ht-result{
      border : white;
      width : 100%;
      cursor: pointer;
      height: 33.3px;
      background: #DBB2AF;
      font-size : 1.25rem;
      font-weight: 800;
      color : $oc-blue-7;

      &:hover{
        background: $oc-gray-5;
      }
    }
    .noresult{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90%;
      font-size: 1.5rem;
      font-weight: 800;
    }
  }
}
