.feed {
  padding : 2px;  
  .ht{
    color : $oc-blue-6;
    font-weight: 600;
  }
  .list{     
    box-sizing: border-box;
    padding-top : 57px;
    width: 100%;
    height: calc(100vh - 84px);
    overflow-y: scroll;
    overflow-x: hidden;
    @include media("<medium"){
      padding-top : 0;
    }
  }
}

.loading{
  height: calc(100vh - 80px);
}

.following-rec{
  display: flex;
  flex-wrap : wrap;
  justify-content: center;
  align-items : center;
  .each-rec{
    cursor: pointer;
    margin : 20px;
    padding : 10px;
    display : flex;
    flex-direction: column;
    background: $oc-gray-3;
    min-width : 200px;
    border-radius : 20%;
    
    &:hover{
      background: $oc-gray-4;
      transition: 0.3s;
    }

    align-items: center;
    .profile-pic{
      background: $oc-gray-5;
      width : 100px;
      height: 100px;
      border-radius: 50%;
      img{
        object-fit: contain;
        border-radius: 50%;
      }
    }
  }
}

.searched-hashtag{
  font-size : 1.8rem;
  font-weight: 500;
  color : $oc-gray-7;
  margin-top : 15px;
  margin-bottom : 15px;
}

.rec-user{
  
  
}