
$baseColor :  #ECEFEE;

.comment{
  height: 167%;
  background: $baseColor;
  padding : 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include media("<large"){     
    height: auto;
    width: 100%;
   }
   
  .comments-list{    
    height: 80%;
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    width : 420px;
    background: white;
    margin-bottom: 10px;
    margin-top : 10px;
    border-radius: 5%;
    box-sizing: border-box;
    padding : 20px;
    


    @include media("<large"){ 
      height: auto;
      width : 100%;
     }
    
  }

  .comment-write{
    display: flex;
    width : 100%;
    justify-content: space-around;
    .comment-input{
      border : none;
      outline : none;
      border-radius: 5%;
      height: 30px;
      width : 76%;
      padding-left : 10px;
      padding-left : 10px;
    }
  
    .comment-submit{
      outline : none;
      border : none;
      background: $oc-blue-5;
      cursor: pointer;
      border-radius: 5%;
      color: white;
      width : 50px;
      height: 30px;
      &:hover{
        background: $oc-blue-7;
        
      }
    }
  }

}



// 전체 스크롤바 설정
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
